{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block page-title %}{% trans 'Dashboard' %}{% endblock %}

{%block extracss %}
<link rel="stylesheet" href="{% static 'application/main.css' %}?v=08_11_2019">

{% endblock %}

{% block content %}

	<div id="app" class="padding">

	</div>

{% endblock %}


{% block extrascript %}
	<script>
		var base_url = "{{base_url}}";

		var project_id = "{{project.id}}";
		var organization_id = "{{organization}}";
		var project_name = "{{project.name}}";

		var site_id_with_comma = "{{site_id}}";
        var site_id = +(site_id_with_comma.replace(/,/g,''));
		var submission_id = "{{submission}}";
		var user_id = "{{request.user.id}}";


	</script>
	<script src="https://js.stripe.com/v3/"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}application/main.js?v=08.11.2019.44."></script>

{% endblock %}


