{% extends base_template %}
{% load i18n staticfiles %}
{% load filters %}

{% block extracss %}


{% endblock %}

{% block content %}
{% load filters %}

	<div class="padding">

		<section class="panel">
            <header class="panel-heading clearfix">
				
                <h3><i class="la la-building"></i>{% trans 'Project Schedule Settings' %}</h3>
				
            </header>
			<div class="panel-body">
				<!-- Add New Organization-->
				<div id="newOrganization" class="margin-top">
					{% if form.errors %}
					    {% for field in form %}
					        {% for error in field.errors %}
					            <div class="alert alert-danger">
					                <strong>{{ error|escape }}</strong>
					            </div>
					        {% endfor %}
					    {% endfor %}
					    {% for error in form.non_field_errors %}
					        <div class="alert alert-danger">
					            <strong>{{ error|escape }}</strong>
					        </div>
					    {% endfor %}
					{% endif %}
					
					<form enctype="multipart/form-data" method="post">
	                
		                {% csrf_token %}
		                {{ form }}
		                <br>
		                 <input type="submit" value="Submit">
					</form>
				</div>
			</div>
	
			<hr>
			<a href="{% url 'fieldsight:sync_schedule_add' obj.pk %}"><button type="button" class="btn btn-success"><i class="la la-refresh ml-2"></i>Add Custom Schedule handler for individual form</button></a>
			<hr>
			{% if general_forms or schedule_forms or survey_forms or stage_forms %}
			<h3>Custom Schedule</h3>
			{% endif %}
			{% if general_forms %}
				<div class="form-group">
					<h5>General Report</h5>
					<div>
						<table id="dynamic-table2" class="table table-striped table-bordered table-hover margin-top table-sync">
							<thead>
								<tr>
									<th>Form Name</th>
									<th>Sync</th>
								</tr>
							</thead>
							<tbody>
								{% for form in general_forms %}
								<tr>
									<td>
										{{ form.xf.title }}  -  {{ form.sync_schedule.get_schedule_display }}
									</td>
									<td>
										<a href="{% url 'fieldsight:sync_schedule_update' form.sync_schedule.id %}">
											<button type="button" class="btn btn-success"><i class="la la-refresh ml-2"></i>Edit</button>
										</a>
										<a href="{% url 'fieldsight:sync_schedule_delete' form.sync_schedule.id %}">
											<button type="button" class="btn btn-danger"><i class="la la-refresh ml-2"></i>Delete</button>
										</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<hr>
			
			{% endif %}
				
			{% if schedule_forms %}
			<div class="form-group">
				<h5>Schedule Report</h5>
				<div>
					<table id="dynamic-table2" class="table table-striped table-bordered table-hover margin-top table-sync">
						<thead>
							<tr>
								<th>Form Name</th>
								<th>Sync</th>
							</tr>
						</thead>
						<tbody>
							{% for form in schedule_forms %}
							<tr>
								<td>
									{{ form.schedule.name }}  -  {{ form.sync_schedule.get_schedule_display }}
								</td>
								<td>
									<a href="{% url 'fieldsight:sync_schedule_update' form.sync_schedule.id %}">
										<button type="button" class="btn btn-success"><i class="la la-refresh ml-2"></i>Edit</button>
									</a>
									<a href="{% url 'fieldsight:sync_schedule_delete' form.sync_schedule.id %}">
										<button type="button" class="btn btn-danger"><i class="la la-refresh ml-2"></i>Delete</button>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<hr>
			{% endif %}

			{% if survey_forms %}
			<div class="form-group">
				<h5>Survey Forms</h5>
				<div>
					<table id="dynamic-table2" class="table table-striped table-bordered table-hover margin-top table-sync">
						<thead>
							<tr>
								<th>Form Name</th>
								<th>Sync</th>
							</tr>
						</thead>
						<tbody>
							{% for form in survey_forms %}
							<tr>
								<td>
									{{ form.xf.title }}  -  {{ form.sync_schedule.get_schedule_display }}
								</td>
								<td>
									<a href="{% url 'fieldsight:sync_schedule_update' form.sync_schedule.id %}">
										<button type="button" class="btn btn-success"><i class="la la-refresh ml-2"></i>Edit</button>
									</a>
									<a href="{% url 'fieldsight:sync_schedule_delete' form.sync_schedule.id %}">
										<button type="button" class="btn btn-danger"><i class="la la-refresh ml-2"></i>Delete</button>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<hr>
			{% endif %}

			{% if stage_forms %}
			<div class="form-group">
				<h5>Stage Forms</h5>
				<div>
					<table id="dynamic-table2" class="table table-striped table-bordered table-hover margin-top table-sync">
						<thead>
							<tr>
								<th>Form Name</th>
								<th>Sync</th>
							</tr>
						</thead>
						<tbody>
							{% for stage in stage_forms %}
							{% if stage.sub_stages %}
							<tr>
								<td>
									{{ stage.title }}
								</td>
							</tr>
							{% endif %}
							{% for form in stage.sub_stages %}
							<tr>
								<td>
									{{ form.stage_forms.xf.title }}  -  {{ form.stage_forms.sync_schedule.get_schedule_display }}
								</td>
								<td>
									<a href="{% url 'fieldsight:sync_schedule_update' form.stage_forms.sync_schedule.id %}">
										<button type="button" class="btn btn-success"><i class="la la-refresh ml-2"></i>Edit</button>
									</a>
									<a href="{% url 'fieldsight:sync_schedule_delete' form.stage_forms.sync_schedule.id %}">
										<button type="button" class="btn btn-danger"><i class="la la-refresh ml-2"></i>Delete</button>
									</a>
								</td>
							</tr>
							{% endfor %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<hr>
			{% endif %}
				

        </section>
			}

	</div>
{% endblock %}



