{% extends 'fieldsight/manage_base.html' %}
{% load i18n staticfiles %}
{% load filters %}

{% block extracss %}


{% endblock %}

{% block content %}
{% load filters %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

			<div class="padding">

				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-building"></i>{% trans 'Terms And Labels' %}</h3>
						
                    </header>
					<div class="panel-body">
						<!-- Project Terms And Labels-->
						<div class="margin-top">
							<form action="" method="post">{% csrf_token %}

								<div class="form-row">
                                    {% for field in form %}

                                      <div class="form-group col-md-6 ">

									    <label class="col-form-label">{{ field.label}}</label>
                                          {{field}}


									 </div>
                                    {% endfor %}

                                </div>
                                <button type="submit" class="btn btn-primary"><i class="la la-floppy-o"></i> {% trans ' Save' %}</button>

							</form>


						</div>
					</div>

                </section>

			</div>
{% endblock %}

{%block extrascript %}
  	<script type="text/javascript">

        $(document).ready(function(){
         $("#id_donor, #id_site, #id_site_supervisor, #id_site_reviewer, #id_region, #id_region_supervisor, #id_region_reviewer").addClass("form-control");

        $("ul.nav li:nth-child(6) a" ).addClass("active");


});
    </script>

{% endblock %}


