
{% extends 'fieldsight/fieldsight_not_user_base.html' %}
{% load staticfiles %}

{% block content %}
<div id="main-content" class="padding">
    <section class="panel">
      <header class="panel-heading clearfix">
          <h3><i class="la la-key"></i>Reset Password</h3>
      </header>
      <div class="panel-body">
        <div class="form-group col-md-12">

        <form method="post" action="." class="well">

          {% if validlink %}

          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary"><i class="la la-key"></i>Reset Password</button>

        {% else %}

          <p>Password reset failed</p>

        {% endif %}


      </form>
      </div>
    </div>

  </section>
</div>


{% endblock %}
