{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block kocript %}

<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/manage_people_site.js"></script>

{% endblock %}

{% block content %}
<div id="main-content" class="padding">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      {% if request.user.is_superuser %}
        <li class="breadcrumb-item"><a href="{% url 'fieldsight:application' %}#/teams">Dashboard</a></li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">Change Password</li>
     </ol>
  </nav>
  <section class="panel">
              <header class="panel-heading clearfix">
                  <h3><i class="la la-key"></i>Change Password</h3>
              </header>
    <div class="panel-body">
      <!-- Add New Organization-->
      <div id="newOrganization" class="margin-top">
      <form class="well" method="post" action=".">
        {% csrf_token %}
        <div class="form-row">       

          <div class="form-group col-md-12">
            <label class="col-form-label">Old Password :</label>
              {{ form.old_password|add_class:"form-control {% if form.old_password.errors %}is-invalid{% endif %}" }}
              {% if form.old_password.errors %}
                <small style="color:red">
                  *Your old password is incorrect.
                </small>
              {% endif %}
          </div>
          <div class="form-group col-md-12">
            <label class="col-form-label">New Password :</label>
              {{ form.new_password1|add_class:"form-control {% if form.new_password1.errors %}is-invalid{% endif %}" }}
              {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                  <small  style="color:red">*{{ error }}</small>
                {% endfor %}
              {% endif %}
              <small id="input3" class="form-text text-muted">Great passwords use upper and lower case characters, numbers, and symbols like !"@#$%. Passwords are case sensitive.</small>
          </div>
          <div class="form-group col-md-12">
              <label class="col-form-label">Re-Type New Password :</label>
                {{ form.new_password2|add_class:"form-control {% if form.new_password2.errors %}is-invalid{% endif %}" }}
                {% if form.new_password2.errors %}
                <small style="color:red">
                  *Your passwords did not match. Must match previous entry.
                </small>
                {% endif %}
                <small id="input4" class="form-text text-muted">Confirm your new password by entering same password.</small> 
          </div>
          
        </div>

        <button type="submit"  class="btn btn-primary"><i class="la la-key"></i>{% trans 'Change Password' %}</button>
      </form>
    </div>
</div>
</section>
</div>








{% endblock %}


