{% extends "fieldsight/manage_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% load static %}
{% block content %}

{%block extracss %}

    <style>
         .StripeElement {
          box-sizing: border-box;

          height: 40px;

          padding: 10px 12px;

          border: 1px solid rgba(0,0,0,0.1);
          border-radius: 3px;
          background-color: white;

          box-shadow: none;
          -webkit-transition: box-shadow 150ms ease;
          transition: box-shadow 150ms ease;
        }



        .StripeElement--focus {
          box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
          border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
          background-color: #fefde5 !important;
        }
    </style>
    <script src="https://js.stripe.com/v3/"></script>

{% endblock %}
        <!-- choose package popup -->
        <!-- Modal -->

                    <div class="modal fade" id="pricingModal1" tabindex="-1" role="dialog" aria-labelledby="pricingModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="pricingModalLabel">Choose a Plan</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <!--   ............pricing step 1...................       -->

                                <div class="bg-primary p-4">
        	                        <div class="bg-light p-4 m-4">
                                        <div class="pb-2"></div>
                                        <h4 class="text-center mt-4 mb-3"><strong>Fieldsight Plans & Pricing</strong></h4>
                                        <p class="text-center mb-4 text-xlight">Fieldsight is provided open-source and under a non-profit model.<br/>
                                        Fees for access to the system cover the costs of hosting data and providing support. <br/>Additional services are priced at our costs. Contact us more to discuss.</p>
                                        <div class="pb-2 text-center">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                              <label class="btn btn-pk btn-outline-primary active">
                                                <input type="radio" name="pay-type" id="monthly" value="monthly" autocomplete="off" checked> Monthly
                                              </label>
                                              <label class="btn btn-pk btn-outline-primary">
                                                <input type="radio" name="pay-type" id="yearly" value="yearly" autocomplete="off"> Yearly
                                              </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="module-pricing mt-4" id="pk_starter">
                                                    <div class="mp-head pbg-2">
                                                        <h4>Starter</h4>
                                                        <h3><strong>$20</strong><sub> /Mo</sub></h3>
                                                        <div class="tri-wrap">
                                                            <div class="tri-left"></div>
                                                            <div class="tri-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="mp-body">
                                                        <ul>
                                                            <li><strong>1,000</strong> Submissions</li>
                                                            <li><strong>Unlimited</strong> Users, Projects, Sites</li>
                                                            <li><strong>Unlimited</strong> Forms, Stages & Schedules</li>
                                                            <li><strong>Unlimited</strong> Reports, Dashboards & Maps</li>
                                                        </ul>
                                                    </div>
                                                    <div class="mp-footer">
                                                        <a data-toggle='collapse' href='#collapseEx1' title="" class="btn pbg-2 btn-block btn-lg plan" id="starter_plan">Select</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="module-pricing mt-4" id="pk_basic">
                                                    <div class="mp-head pbg-3">
                                                        <h4>Basic</h4>
                                                        <h3><strong>$100</strong><sub> /Mo</sub></h3>
                                                        <div class="tri-wrap">
                                                            <div class="tri-left"></div>
                                                            <div class="tri-right"></div>
                                                        </div>

                                                    </div>
                                                    <div class="mp-body">
                                                        <ul>
                                                            <li><strong>5,000</strong> Submissions</li>
                                                            <li><strong>Unlimited</strong> Users, Projects, Sites</li>
                                                            <li><strong>Unlimited</strong> Forms, Stages & Schedules</li>
                                                            <li><strong>Unlimited</strong> Reports, Dashboards & Maps</li>
                                                        </ul>
                                                    </div>
                                                    <div class="mp-footer">
                                                        <!--<form action="{% url 'subscriptions:subscribe' obj.pk %}" method="post">-->
                                                            <!--<input type="hidden" name="plan_name" value="basic_plan"/>-->
                                                                <!--<input type="hidden" name="interval" value="monthly"/>-->

                                                              <!--{% csrf_token %}-->
                                                            <!--{% include 'subscriptions/stripe_checkout.html' %}-->

                                                                <!--<button type="submit"  class="btn pbg-3 btn-block btn-lg">Select</button>-->
                                                        <a data-toggle='collapse' disabled href='#collapseEx2' title="" class="btn pbg-3 btn-block btn-lg plan" id="basic_plan">Select</a>

                                                        <!--</form>-->

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="module-pricing mt-4" id="pk_extended">
                                                    <div class="mp-head pbg-4">
                                                        <h4>Extended</h4>
                                                        <h3><strong>$500</strong><sub> /Mo</sub></h3>
                                                        <div class="tri-wrap">
                                                            <div class="tri-left"></div>
                                                            <div class="tri-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="mp-body">
                                                        <ul>
                                                            <li><strong>20,000</strong> Submissions</li>
                                                            <li><strong>Unlimited</strong> Users, Projects, Sites</li>
                                                            <li><strong>Unlimited</strong> Forms, Stages & Schedules</li>
                                                            <li><strong>Unlimited</strong> Reports, Dashboards & Maps</li>
                                                        </ul>
                                                    </div>
                                                    <div class="mp-footer">
                                                        <!--<form action="{% url 'subscriptions:subscribe' obj.pk %}" method="post">-->
                                                            <!--<input type="hidden" name="plan_name" value="extended_plan"/>-->
                                                            <!--<input type="hidden" name="interval" value="monthly"/>-->

                                                              <!--{% csrf_token %}-->
                                                            <!--{% include 'subscriptions/stripe_checkout.html' %}-->
                                                            <!--<button type="submit"  class="btn pbg-4 btn-block btn-lg">Select</button>-->
                                                        <a data-toggle='collapse' href='#collapseEx3' title="" class="btn pbg-4 btn-block btn-lg plan" id="extended_plan">Select</a>

                                                        <!--</form>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="module-pricing mt-4" id="pk_pro">
                                                    <div class="mp-head pbg-5">
                                                        <h4>Pro</h4>
                                                        <h3><strong>$1,000</strong><sub> /Mo</sub></h3>
                                                        <div class="tri-wrap">
                                                            <div class="tri-left"></div>
                                                            <div class="tri-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="mp-body">
                                                        <ul>
                                                            <li><strong>50,000</strong> Submissions</li>
                                                            <li><strong>Unlimited</strong> Users, Projects, Sites</li>
                                                            <li><strong>Unlimited</strong> Forms, Stages & Schedules</li>
                                                            <li><strong>Unlimited</strong> Reports, Dashboards & Maps</li>
                                                        </ul>
                                                    </div>
                                                    <div class="mp-footer">
                                                        <!--<form action="{% url 'subscriptions:subscribe' obj.pk %}" method="post">-->
                                                            <!--<input type="hidden" name="plan_name" value="pro_plan"/>-->
                                                            <!--<input type="hidden" name="interval" value="monthly"/>-->
                                                              <!--{% csrf_token %}-->
                                                            <!--{% include 'subscriptions/stripe_checkout.html' %}-->
                                                            <!--<button type="submit" class="btn pbg-5 btn-block btn-lg">Select</button>-->

                                                        <!--</form>-->
                                                        <a data-toggle='collapse' href='#collapseEx4' title="" class="btn pbg-5 btn-block btn-lg plan" id="pro_plan">Select</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="module-pricing mt-4" id="pk_scale">
                                                    <div class="mp-head pbg-6">
                                                        <h4>Scale</h4>
                                                        <h3><strong>$3,000</strong><sub> /Mo</sub></h3>
                                                        <div class="tri-wrap">
                                                            <div class="tri-left"></div>
                                                            <div class="tri-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="mp-body">
                                                        <ul>
                                                            <li><strong>150,000</strong> Submissions</li>
                                                            <li><strong>Unlimited</strong> Users, Projects, Sites</li>
                                                            <li><strong>Unlimited</strong> Forms, Stages & Schedules</li>
                                                            <li><strong>Unlimited</strong> Reports, Dashboards & Maps</li>
                                                        </ul>
                                                    </div>
                                                    <div class="mp-footer">
                                                        <!--<form action="{% url 'subscriptions:subscribe' obj.pk %}" method="post">-->
                                                            <!--<input type="hidden" name="plan_name" value="scale_plan"/>-->
                                                            <!--<input type="hidden" name="interval" value="monthly"/>-->

                                                              <!--{% csrf_token %}-->
                                                            <!--{% include 'subscriptions/stripe_checkout.html' %}-->
                                                            <!--<button type="submit"  class="btn btn-block pbg-6 btn-lg">Select</button>-->

                                                        <!--</form>-->
                                                        <a data-toggle='collapse' href='#collapseEx5' title="" class="btn btn-block pbg-6 btn-lg plan" id="scale_plan">Select</a>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mt-4">
                                            <a href="#" title="" class="btn btn-primary btn-next" id="first_next">Next <i class="la la-long-arrow-right"></i></a>
                                        </div>
                                    </div>
		                        </div>


                            <!--   .............end pricing step 1..........                                 -->

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="pricingModal2"  tabindex="-1" role="dialog" aria-labelledby="pricingModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="pricingModalLabel">Card Information</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                    <!-- ............pricing step 2........ -->
                                          <div class="bg-primary p-4">
                                            <div class="bg-light p-4 m-4">
                                            <form action="{% url 'subscriptions:finish_subscription' obj.pk %}" method="post">{% csrf_token %}

                                                <div class="pb-2"></div>
                                                <h5 class="text-center mt-2 mb-3"><strong>You have changed plan to <span id="plan"></span></strong></h5>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h6 class="mt-4"><strong>Plan Detail :</strong></h6>
                                                        <ul class="list-icon mt-4 mb-4">
                                                            <li><i class="la la-chevron-circle-right"></i><strong><span id="submissions"></span></strong> Submissions</li>
                                                            <li><i class="la la-chevron-circle-right"></i><strong>Unlimited</strong> Users, Projects & Sites</li>
                                                            <li><i class="la la-chevron-circle-right"></i><strong>Unlimited</strong> Forms, Stages & Schedules</li>
                                                            <li><i class="la la-chevron-circle-right"></i><strong>Unlimited</strong> Reports, Dashboards & Maps</li>
                                                            <li><i class="la la-chevron-circle-right"></i><strong>Access</strong> to our Android App</li>

                                                        </ul>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <h6 class="mt-4"><strong>Plan Period :</strong></h6>
                                                        <ul class="list-icon mt-4 mb-4">
                                                            <li>
                                                                <i class="la la-calendar-check-o"></i>
                                                                <strong>Starting Date</strong>
                                                                <p><span id="starting_date"></span></p>
                                                            </li>
                                                            <li>
                                                                <i class="la la-calendar-minus-o"></i>
                                                                <strong>Ending Date</strong>
                                                                <p><span id="ending_date"></span></p>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="text-center">
                                                    <a href="#" title="" class="btn btn-primary btn-prev" id="btn_previous"><i class="la la-long-arrow-left" ></i> Previous</a>
                                                    <button type="submit" class="btn btn-primary">Finish<i class="la la-long-arrow-right"></i></button>
                                                </div>
                                            </form>

                                            </div>

                                    </div>


                                  <!-- ............end of pricing step2.......-->

                              </div>
                            </div>
                          </div>
                        </div>



        <!-- end choose package !-->
			<div class="padding">

				<section class="panel">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                          <strong class="text-capitalize">{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}!</strong> {{ message }}
                        </div>
                    {% endfor %}
				{% endif %}
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-building"></i>{% trans 'Account' %} {% trans 'Information' %}</h3>


                    </header>
					<div class="panel-body">
						<div class="">
                          <div class="row">
                              <div class="col-md-4">
                                <h6 class="mt-4"><strong>Current Plan:</strong></h6>
                                <div class="sp-head mt-4 mb-4">
                                    <h6>{{subscribed_package.get_plan_display}}</h6>

                                    {% if not has_user_free_package %}

                                        <h6><strong>${{subscribed_package.total_charge}}</strong><sub> /{{subscribed_package.get_period_type_display}}</sub></h6>
                                        {% else %}
                                        <h6><strong>${{subscribed_package.total_charge}}</strong><sub> /Yr</sub></h6>

                                    {% endif %}
                                </div>
                                <ul class="list-icon mt-4 mb-4">
                                    <li><i class="la la-chevron-circle-right"></i><strong>{{subscribed_package.submissions}}</strong> Submissions</li>
                                    {% if not has_user_free_package %}
                                    <li><i class="la la-chevron-circle-right"></i><strong>Unlimited</strong> Users, Projects, Sites</li>
                                    {% else %}
                                    <li><i class="la la-chevron-circle-right"></i><strong>15</strong> Users, <strong>2</strong> Projects, <strong>10</strong> Sites</li>
                                    {% endif %}
                                    <li><i class="la la-chevron-circle-right"></i><strong>Unlimited</strong> Forms, Stages & Schedules</li>
                                    <li><i class="la la-chevron-circle-right"></i><strong>Unlimited</strong> Reports, Dashboards & Maps</li>
                                </ul>

                                {% if has_user_free_package %}
                                    <a href="{% url 'fieldsight:organizations-dashboard' obj.id%}" class="btn btn-sm btn-primary mb-4">Upgrade Your Package</a>
                                  {% else %}

                                  <button type="button" class="btn btn-primary" id="change_plan">Change Plan</i></button>
                                  {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if not has_user_free_package %}
                                <h6 class="mt-4"><strong>Current Usage:</strong></h6>

                                       {{usage_submissions}} submissions

                                {% endif %}

                            </div>
                              <div class="col-md-4">
                                {% if not has_user_free_package %}
                                <h6 class="mt-4"><strong>Account Information:</strong></h6>
                                <ul class="list-icon mt-4 mb-2">
                                    <li>
                                        <i class="la la-envelope"></i>
                                        Email Address<br/>
                                        <strong>{{customer.user.email}}</strong>
                                    </li>
                                    <li>
                                        <i class="la la-credit-card"></i>
                                        Card Info<br/>
                                        <strong>**** **** **** {{card}}</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseEditCard" aria-expanded="false" aria-controls="collapseEditCard">Edit Card Info <i class="la la-edit"></i></button>
                                {% endif %}
                            </div>
                            <div class="col-md-12 collapse" id="collapseEditCard">
                                <h6 class="mt-4 ml-4"><strong>Edit Card Info:</strong></h6>
                                <form action="{% url 'subscriptions:update_card' %}" method="post" id="payment-form">{% csrf_token %}
                                <div class="card-input-wrap m-4">

                                        <label for="card-element">Credit or debit card</label>
                                        <div id="card-element">
                                            <!-- a Stripe Element will be inserted here. -->
                                        </div>

                                        <!-- Used to display form errors -->
                                        <div id="card-errors" role="alert"></div>


                                </div>
                                    <button type="submit" class="btn btn-primary ml-4 mb-4">Save Info <i class="la la-save"></i></button>
                                 </form>
                            </div>


                          </div>
                        </div>

					</div>


                </section>

			</div>
{% endblock %}
{%block extrascript %}

<script>

    $(document).ready(function(){
        $("#change_plan").click(function(){
			$('#pricingModal1').modal('show');
		});


		$("#first_next").click(function(){
			$('#pricingModal1').modal('hide');
			$('#pricingModal2').modal('show');
		});

		//Add and remove modal-open class to-from body
		$('#pricingModal2').on('shown.bs.modal', function () {
		  $('body').addClass('modal-open');
		});
		$('#pricingModal2').on('hidden.bs.modal', function () {
		  $('body').removeClass('modal-open');
		});

		$("#btn_previous").click(function(){
			$('#pricingModal2').modal('hide');
			$('#pricingModal1').modal('show');
		});

		//Add and remove modal-open class to-from body
		$('#pricingModal1').on('shown.bs.modal', function () {
		  $('body').addClass('modal-open');
		});
		$('#pricingModal1').on('hidden.bs.modal', function () {
		  $('body').removeClass('modal-open');
		});
	});

	//  Change yearly and monthly plan
	            $('input[type=radio][name=pay-type]').change(function() {
					fn_init_pack();
				});

	            function fn_init_pack(){
					if($("input[name='pay-type']:checked").val() == 'monthly'){
						fn_monthly_tier();
					}else{
						fn_yearly_tier();
					}
				}
				function fn_yearly_tier(){
					$("#pk_basic").find('.mp-head h3 strong').text('$1,000');
					$("#pk_basic").find('.mp-body ul li:first strong').text('6,000');
					$("#pk_extended").find('.mp-head h3 strong').text('$5,000');
					$("#pk_extended").find('.mp-body ul li:first strong').text('30,000');
					$("#pk_pro").find('.mp-head h3 strong').text('$10,000');
					$("#pk_pro").find('.mp-body ul li:first strong').text('60,000');
					$("#pk_scale").find('.mp-head h3 strong').text('$30,000');
					$("#pk_scale").find('.mp-body ul li:first strong').text('1,80,000');

					//
					$(".module-pricing").find('.mp-head h3 sub').text('/Yr');
				}

				function fn_monthly_tier(){
					$("#pk_basic").find('.mp-head h3 strong').text('$100');
					$("#pk_basic").find('.mp-body ul li:first strong').text('500');
					$("#pk_extended").find('.mp-head h3 strong').text('$500');
					$("#pk_extended").find('.mp-body ul li:first strong').text('25000');
					$("#pk_pro").find('.mp-head h3 strong').text('$1,000');
					$("#pk_pro").find('.mp-body ul li:first strong').text('5,000');
					$("#pk_scale").find('.mp-head h3 strong').text('$3,000');
					$("#pk_scale").find('.mp-body ul li:first strong').text('15,000');

					//
					$(".module-pricing").find('.mp-head h3 sub').text('/Mo');
					$("#pk_free").find('.mp-head h3 sub').text('/Yr');
				}

    function toogleCard() {
          var stripe_card = document.getElementById("stripe_card");
          var update_btn_txt = $('#update_card');
          if (stripe_card.style.display === "none") {
            stripe_card.style.display = "block";
            update_btn_txt.html('Close Your Card');
          } else {
            stripe_card.style.display = "none";
            update_btn_txt.html('Update Your Card');

          }
    }
    var totalSItems = document.getElementsByClassName("stripe-button-el");

			for(i = 0; i<totalSItems.length; i++){
				totalSItems[i].style.display = 'none';
			}

			 var stripe = Stripe('{{key}}');
    		var elements = stripe.elements();

		  // Create an instance of the card UI component
			var card = elements.create('card', {
			  'style': {
				'base': {
				  'fontFamily': 'Arial, sans-serif',
				  'fontSize': '14px',
				  'color': 'black',
				},
				'invalid': {
				  'color': 'red',
				},
			  }
			});

			var style = {
			  base: {
				color: '#32325d',
				fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
				fontSmoothing: 'antialiased',
				fontSize: '16px',
				'::placeholder': {
				  color: '#aab7c4'
				}
			  },
			  invalid: {
				color: '#fa755a',
				iconColor: '#fa755a'
			  }
			};

		// Mount the UI card component into the `card-element` <div>
		card.mount('#card-element');
		function stripeTokenHandler(token) {
		  // Insert the token ID into the form so it gets submitted to the server
		  var form = document.getElementById('payment-form');
		  var hiddenInput = document.createElement('input');
		  hiddenInput.setAttribute('type', 'hidden');
		  hiddenInput.setAttribute('name', 'stripeToken');
		  hiddenInput.setAttribute('value', token.id);
		  form.appendChild(hiddenInput);

		  // Submit the form
		  form.submit();
		}

	function createToken() {
	  stripe.createToken(card).then(function(result) {
		if (result.error) {
		  // Inform the user if there was an error
		  var errorElement = document.getElementById('card-errors');
		  errorElement.textContent = result.error.message;
		} else {
		  // Send the token to your server
		  stripeTokenHandler(result.token);
		}
	  });
	};

	// Create a token when the form is submitted.
	var form = document.getElementById('payment-form');
	form.addEventListener('submit', function(e) {
	  e.preventDefault();
	  createToken();
	});

	card.addEventListener('change', function(event) {
	  var displayError = document.getElementById('card-errors');
	  if (event.error) {
		displayError.textContent = event.error.message;
	  } else {
		displayError.textContent = '';
	  }
	});

    $(document).ready(function(){

        $("ul.nav li:nth-child(3) a" ).addClass("active");

    });

</script>
{% endblock %}


