{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}


{%block title %}500 Enketo Error
{% endblock %}


{%block extracss %}
    <style>

        *,
        ::after,
        ::before {
            box-sizing: border-box;
            margin:0;
        }

        html {
            color: #888;
            font-family: sans-serif;
            height: 100%;
        }

        body {
            margin:0;
            padding:0;

        }
        img{
            max-width: 100%;
            height: auto;
        }
        .error404{
            padding: 50px;
            margin: auto;
            max-width: 800px;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1); */

        }
        .error-wrap{
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: nowrap;
        }
        .error-content{
            margin-right:30px;
        }
        .error404 strong {
            display: block;
            font-size: 75px;
            line-height: 75px;
            color: #00628E;
            font-weight: bold;
            margin-bottom: 10px;
            text-shadow: 5px 5px 1px #eaeaea;
        }
        .error404 strong span{
            display: inline-block;
            animation-name: floating;
            -webkit-animation-name: floating;
            animation-duration: 2s;
            -webkit-animation-duration: 2s;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
        }

        .error404 h5{
            display: block;
            font-size: 30px;
            line-height: 30px;
            color: #fc5661;
            font-weight: 300;
            margin-bottom: 15px;
            text-transform: capitalize;
        }
        .error404 h6{
            display: block;
            font-size: 16px;
            color: #fc5661;
            margin: 15px 0;
        }
        a.error-btn{
            text-transform: capitalize;
            border-radius: 4px;
            background-color:#00628E;
            color:#ffffff;
            padding:5px 15px;
            text-decoration: none;
            margin-top:20px;
            display: inline-block;
            clear:both;
        }
        @keyframes floating {
            0% {
                transform: translateY(0%);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0%);
            }
            }
            @-webkit-keyframes floating {
            0% {
                -webkit-transform: translateY(0%);
            }
            50% {
                -webkit-transform: translateY(-10px);
            }
            100% {
                -webkit-transform: translateY(0%);
            }
        }
        @media screen and (max-width:500px){
            .error404{
                padding:0;
                margin:0;

            }
            .error404 h5{
            font-size: 18px;
            line-height: 30px;
        }
            .error-wrap{
            flex-wrap: wrap;
            padding: 30px;
            text-align: center;
            }
            .error-content{
                margin-bottom:30px;
                margin-right:0;
            }
        }



    </style>

{% endblock %}

{% block content %}

    <div class="error404">
        <div class="error-wrap">
                <div class="error-content">
                    <strong>5<span>0</span>0 </strong>
                    <h5>Oops ... Enketo Server Error!</h5>
                    <p>Try again !! Please report if problem continously occurs.</p>
                </div>
                <div class="error-img">
                    <img src="{% static 'dummy/assets/img/401_v2.png' %}">
                </div>
        </div>
    </div>
{% endblock %}
