// COLOR
$color-primary:#212529;
$color-white:#ffffff;
$color-secondary:#00628E;
$color-bg:#eaeaea;
$color-blue:#00628E;
$color-grey:#EFEFEF;
$color-yellow:#ffc107;
$color-red:#fc5661;
$color-green:#28a745;


// font-family

$ubuntu:'Ubuntu', sans-serif;
 

//Break point
$mb-sm:375px;
$mb-md:480px;
$mb-lg:576px;
$mb-xl:767px;
$pt-tab:768px;
$md-tab:768px 991px;
$lg-tab:991px;
$ls-tab:1024px;
$desktop:1200px;
$md-desktop:1440px;








