{% extends "fieldsight/manage_base.html" %}
{% load i18n staticfiles %}

{% block content %}
<link href="{% static 'css/geolayer_list.css' %}" rel="stylesheet">
<div class="padding">

    <div class="header">
        <h2> Geo Layers </h2>
        <a class="add-btn" href="{% url 'fieldsight:geo-layer-create' obj.id %}">{% trans 'Create new' %}</a>
    </div>

    <div class="geo-layer-list">
    {% for geo_layer in object_list %}
    <div class="geo-layer">
        <a href="{% url 'fieldsight:geo-layer-update' obj.id geo_layer.id %}">
            {{ geo_layer.title }}
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block extrascript %}
<script>
    $(document).ready(function(){

        $("ul.nav li:nth-child(2) a" ).addClass("active");

    });
</script>

{% endblock %}