@-webkit-keyframes scrollDown {
    0% {
      -webkit-transform: translateY(-20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes scrollDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform:  translateY(0);
      opacity: 0;
    }
  }
  

  @keyframes scrollup {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform:  translateY(-20px);
      opacity: 0;
    }
  }