.fieldsight-new{
      .nav-tabs{
        border-bottom:1px solid $color-bg;
        background:none;
        .nav-item{
            margin:0;
            margin-right:1rem;
          .nav-link{
            border:0;
            padding:0.625rem 0;
            text-transform: capitalize;
            font-weight: 500;
            padding-top:0;
            @include anim05;
            font-size: 0.875rem;
            &.active{
                color:$color-secondary;
                padding-top:0;
                position: relative;
                &::before{
                  content:'';
                  width:100%;
                  height: 1px;
                  background-color:$color-blue;
                  position:absolute;
                  bottom:-1px;
                  left:0;
                  right: 0;
                  display: block;
                }
              }
          }
        }
        &.border-tabs{
          border:0;
          .nav-item{
            margin-right:0;
              .nav-link{
                border:0;
                border-bottom:1px solid $color-bg;
                padding:0.625rem 0;
                border-radius:0;
                font-size: 0.8125rem;
                font-weight: 400;
                
                &.active{
                  color:$color-secondary;
                  border-color:$color-secondary;
                  &::after{
                    content: '';
                    border-color: transparent $color-white;
                    border-style: solid;
                    border-width: 10px 0px 10px 14px;
                    height: 0px;
                    width: 0px;
                    @include translatey;
                    right: -1.8rem;
                    display: inline-block;
                  }
                  &::before{
                    display: none;
                  }
                }
              }
              &:first-child{
                .nav-link{
                  padding-top:0;
                }
              }
          }
        }
      }
      
  }